@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {    
  --primary-color:#FAFAFA;
  --text-color:black;
  --secondary-color:#FB923C;
  --background-color:#171717;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color:var(--background-color);
  color: var(--primary-color);
  font-size: large;
}

.heading {
  text-align: center;
  color: var(--secondary-color);
  font-size: 34px;
}

.screen {
  background-color: var(--secondary-color);
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

.container-center {
  display: flex;
  font-size: larger;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  padding: 1rem 0rem;
}


.container-fluid {
  color: var(--text-color);
  justify-content: center;
  display: flex;
  padding: 1rem;
}

.button-submit {
  font: inherit;
  font-size: medium;
  color: var(--text-color);
  padding: 1rem;
  margin: 1.5rem 0rem;
  border-radius: 0.5rem;
  outline: none;
}

.button-submit:hover {
  border-color: var(--text-color);
}

.button-submit:focus {
  background-color: var(--text-color);
  color: var(--primary-color);
}

#output-list{
  color: var(--text-color);
  text-align: center;
  display: none;
  padding-bottom: 1rem;
}

.list-non-bullet {
  list-style-type: none;
  display: flex;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  border: 2px solid black;
}

span {
  padding: 1rem 2rem;
}

.list-item{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.8px solid var(--background-color);
}

.footer {
  text-align: center;
  margin-top: 2rem;
  color: var(--secondary-color);
}

.list-item-inline {
  display: inline;
  padding: 1rem;
}

.footer ul {
  list-style-type: none;
  padding-inline-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-end: 0rem;
}

.footer p {
  margin-block-start: 2rem;
  margin-block-end: 0.5rem;
  font:inherit;
}

.footer i {
 vertical-align: text-top;  
 color: var(--secondary-color); 
}

.footer i:hover {
    color: var(--primary-color);
    transition: all .3s ease-in-out;
}
